@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
    --primary: #b32925;
    --font-family: "Oxanium", sans-serif;
}

/* Navbar */
nav {
    background-color: #b32925;
}
.nav-element {
    padding: 0 1rem;
}

/* Landing page hero */
.lp-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)), url("/assets/images/lp_hero.jpg");
}

/* About page hero */
.a-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)), url("/assets/images/a_hero.jpg");
}

/* Past seasons page hero */
.ps-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)), url("/assets/images/ps_hero.jpg");
}

/* Sponsor us page hero */
.su-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)), url("/assets/images/su_hero.jpg");
}

/* Sponsors page hero */
.s-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)), url("/assets/images/s_hero.jpg");
}

/* Generic hero */
.hero {
    background-position: center;
    background-size: cover;
    height: 40rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero h1 {
    font-size: 96px;
}
.hero h2 {
    font-size: 64px;
}

/* Extensions of PicoCSS */
.grid {
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 1rem;
}

/* Utilities */
.zbm {
    margin-bottom: 0;
}
