body,
html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("images/gang.JPG");

    /* Full height */
    height: 1;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
